{{> nav }}

<div class="home content">

<img src="/images/beer.png" alt="Beer">
<button id="btn-beers">Check the Beers!</button>
<button id="btn-random-beer">Check a Random Beer!</button>

</div>

{{> footer}}